<?xml version="1.0" encoding="UTF-8"?>
<applications>
	<application name="Copy files to a Folder using Copy" command="copy">
		<head>
			<label>Application to Copy Files from a folder to another folder</label>
		</head>
		<parameter>
			<label>Carpeta Origen</label>
			<flag></flag>
			<fileInput></fileInput>
			<validation exists="true"></validation>
		</parameter>
		<parameter>
			<label>Carpeta Destino</label>
			<flag></flag>
			<folderInput type="directory"></folderInput>
			<validation exists="true" nullable="false"></validation>
		</parameter>
	</application>
	
	<application name="Ipconfig" exePath="" command="ipconfig">
		<head>
			<label>Ipconfig Diagnostic Utility for Network Connections</label>
		</head>
		<parameter>
			<label>Modifier</label>
			<flag></flag>
			<comboBox>
				<comboBoxItem tag="Command Help" flag="/?"></comboBoxItem>
				<comboBoxItem tag="/all" flag="/all"></comboBoxItem>
				<comboBoxItem tag="/renew" flag="/renew">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/release" flag="/release">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/flushdns" flag="/flushdns"></comboBoxItem>
				<comboBoxItem tag="/displaydns" flag="/displaydns"></comboBoxItem>
				<comboBoxItem tag="/registerdns" flag="/registerdns"></comboBoxItem>
				<comboBoxItem tag="/showclassid" flag="/showclassid">
					<ifSelected>
						<item>
							<label>Adapter</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/setclassid" flag="/setclassid">
					<ifSelected>
						<item>
							<label>Adapter</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
						<item>
							<label>Class ID</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
			</comboBox>
		</parameter>
	</application>
    
</applications>