<?xml version="1.0" encoding="UTF-8"?>
<applications>
	<application name="Copy a file to a Folder using Copy" command="copy">
		<head>
			<label>Application to Copy Files from a folder to another folder</label>
		</head>
		<parameter>
			<label>Carpeta Origen</label>
			<flag></flag>
			<fileInput></fileInput>
			<validation exists="true"></validation>
		</parameter>
		<parameter>
			<label>Carpeta Destino</label>
			<flag></flag>
			<folderInput type="directory"></folderInput>
			<validation exists="true" nullable="false"></validation>
		</parameter>
	</application>
	
	<application name="Copy files from a folder to another" command="xcopy">
		<head>
			<label>Application to Copy Files from a folder to another folder</label>
		</head>
		<parameter>
			<label>Carpeta Origen</label>
			<flag></flag>
			<folderInput></folderInput>
			<validation exists="true"></validation>
		</parameter>
		<parameter>
			<label>Carpeta Destino</label>
			<flag></flag>
			<folderInput type="directory"></folderInput>
			<validation exists="true" nullable="false"></validation>
		</parameter>
	</application>
	
	<application name="Ipconfig" exePath="" command="ipconfig">
		<head>
			<label>Ipconfig Diagnostic Utility for Network Connections</label>
		</head>
		<parameter>
			<label>Modifier</label>
			<flag></flag>
			<comboBox>
				<comboBoxItem tag="Command Help" flag="/?"></comboBoxItem>
				<comboBoxItem tag="/all" flag="/all"></comboBoxItem>
				<comboBoxItem tag="/renew" flag="/renew">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/release" flag="/release">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/flushdns" flag="/flushdns"></comboBoxItem>
				<comboBoxItem tag="/displaydns" flag="/displaydns"></comboBoxItem>
				<comboBoxItem tag="/registerdns" flag="/registerdns"></comboBoxItem>
				<comboBoxItem tag="/showclassid" flag="/showclassid">
					<ifSelected>
						<item>
							<label>Adapter</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/setclassid" flag="/setclassid">
					<ifSelected>
						<item>
							<label>Adapter</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
						<item>
							<label>Class ID</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
			</comboBox>
		</parameter>
	</application>

	<application name="Ipconfig with RadioButton" exePath="" command="ipconfig">
		<head>
			<label>Ipconfig Diagnostic Utility for Network Connections</label>
		</head>
		<parameter>
			<label>Modifier</label>
			<flag></flag>
			<radioButton>
				<radioButtonItem tag="Command Help" flag="/?"></radioButtonItem>
				<radioButtonItem tag="/all" flag="/all"></radioButtonItem>
				<radioButtonItem tag="/renew" flag="/renew">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</radioButtonItem>
			</radioButton>
		</parameter>
	</application>
	
	<application name="git" exePath="C:\git\git.exe" command="">
		<parameter>
			<label></label>
			<flag>commit</flag>
			<validation></validation>
		</parameter>
		<parameter>
			<label>Add all tracked Files</label>
			<flag></flag>
            <checkBox flag="-a"></checkBox>
            <validation></validation>
		</parameter>
		<parameter>
			<label>Commit Date</label>
			<flag>--date=</flag>
			<dateTimePicker format="yyyy-MM-dd"></dateTimePicker>
			<validation></validation>
		</parameter>
		<parameter>
			<label>Message</label>
			<flag>-m</flag>
			<textBox></textBox>
			<validation maxSize="30" nullable="false"></validation>            
		</parameter>
		<parameter>
			<label>Choose file:</label>
			<flag></flag>
			<fileInput type="file"></fileInput>
			<validation nullable="true"></validation>
		</parameter>
    </application>
    
    <application name="ping" exePath="C:\Windows\System32\ping.exe" command="">
    	
    	<head>
			<label>ping</label>
		</head>
		
		<parameter>
			<label>IP</label>
			<flag></flag>
			<textBox></textBox>
		</parameter>
		
		<parameter>
			<label>Cant. de solicitudes</label>
			<flag>-n</flag>
			<textBox></textBox>
			<validation numeric="true"></validation>
		</parameter>
		
		<parameter>
			<label>IP Standard</label>
			<radioButton>
				<radioButtonItem tag="IPv4" flag="-4"></radioButtonItem>
				<radioButtonItem tag="IPv6" flag="-6"></radioButtonItem>
			</radioButton>
		</parameter>
		
    </application>
    
</applications>