<?xml version="1.0" encoding="UTF-8"?>
<applications>
	<application name="Copy a file to a Folder using Copy" command="copy">
		<head>
			<label>Application to Copy Files from a folder to another folder</label>
		</head>
		<parameter>
			<label>Carpeta Origen</label>
			<flag></flag>
			<fileInput></fileInput>
			<validation exists="true"></validation>
		</parameter>
		<parameter>
			<label>Carpeta Destino</label>
			<flag></flag>
			<folderInput type="directory"></folderInput>
			<validation exists="true" nullable="false"></validation>
		</parameter>
	</application>

	<application name="Copy a file to a Folder using Copy without Validation" command="copy">
		<head>
			<label>Application to Copy Files from a folder to another folder</label>
		</head>
		<parameter>
			<label>Carpeta Origen</label>
			<flag></flag>
			<fileInput></fileInput>
			<validation nullable="false"></validation>
		</parameter>
		<parameter>
			<label>Carpeta Destino</label>
			<flag></flag>
			<folderInput type="directory"></folderInput>
			<validation nullable="false"></validation>
		</parameter>
	</application>
	<application name="Copy files from a folder to another" command="xcopy">
		<head>
			<label>Application to Copy Files from a folder to another folder</label>
		</head>
		<parameter>
			<label>Carpeta Origen</label>
			<flag></flag>
			<folderInput></folderInput>
			<validation exists="true"></validation>
		</parameter>
		<parameter>
			<label>Carpeta Destino</label>
			<flag></flag>
			<folderInput type="directory"></folderInput>
			<validation exists="true" nullable="false"></validation>
		</parameter>
	</application>
	
	<application name="Ipconfig" exePath="" command="ipconfig">
		<head>
			<label>Ipconfig Diagnostic Utility for Network Connections</label>
		</head>
		<parameter>
			<label>Modifier</label>
			<flag></flag>
			<validation nullable="false"></validation>
			<comboBox>
				<comboBoxItem tag="Command Help" flag="/?"></comboBoxItem>
				<comboBoxItem tag="all" flag="/all"></comboBoxItem>
				<comboBoxItem tag="renew" flag="/renew">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/release" flag="/release">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/flushdns" flag="/flushdns"></comboBoxItem>
				<comboBoxItem tag="/displaydns" flag="/displaydns"></comboBoxItem>
				<comboBoxItem tag="/registerdns" flag="/registerdns"></comboBoxItem>
				<comboBoxItem tag="/showclassid" flag="/showclassid">
					<ifSelected>
						<item>
							<label>Adapter</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
				<comboBoxItem tag="/setclassid" flag="/setclassid">
					<ifSelected>
						<item>
							<label>Adapter</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
						<item>
							<label>Class ID</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="false"></validation>
						</item>
					</ifSelected>
				</comboBoxItem>
			</comboBox>
		</parameter>
	</application>

	<application name="Ipconfig with RadioButton" exePath="" command="ipconfig">
		<head>
			<label>Ipconfig Diagnostic Utility for Network Connections</label>
		</head>
		<parameter>
			<label>Modifier</label>
			<flag></flag>
			<radioButton>
				<radioButtonItem tag="Command Help" flag="/?"></radioButtonItem>
				<radioButtonItem tag="all" flag="/all"></radioButtonItem>
				<radioButtonItem tag="renew" flag="/renew">
					<ifSelected>
						<item>
							<label>Adapter (optional)</label>
							<textBox></textBox>
							<validation maxSize="50" nullable="true"></validation>
						</item>
					</ifSelected>
				</radioButtonItem>
			</radioButton>
		</parameter>
	</application>
    <application name="Ping Command" exePath="C:\Windows\System32\ping.exe" command="">
    	<head>
			<label>ping</label>
		</head>
		<parameter>
			<label>IP</label>
			<flag></flag>
			<textBox></textBox>
			<validation nullable="false"></validation>
		</parameter>
		<parameter>
			<label>Cant. de solicitudes</label>
			<flag>-n</flag>
			<textBox></textBox>
			<validation numeric="true" nullable="false"></validation>
		</parameter>
		<parameter>
			<label>IP Standard</label>
			<radioButton>
				<radioButtonItem tag="IPv4" flag="-4"></radioButtonItem>
				<radioButtonItem tag="IPv6" flag="-6"></radioButtonItem>
			</radioButton>
		</parameter>
    </application>
    <application name="Ping with CheckBox" exePath="" command="ping">
    	<head>
			<label>ping con CheckBox</label>
		</head>
		<parameter>
			<label>IP</label>
			<flag></flag>
			<textBox></textBox>
		</parameter>
		<parameter>
			<label>IPv4</label>
			<flag></flag>
			<checkBox flag="-4"></checkBox>
            <validation></validation>
		</parameter>
		<parameter>
			<label>IPv6</label>
			<flag></flag>
			<checkBox flag="-6"></checkBox>
            <validation></validation>
		</parameter>
		<customValidation path="C:\Users\Cristhian\workspace\misValidaciones\bin" package="misValidaciones" class="miValidacion.class"></customValidation>
    </application>
</applications>